<!DOCTYPE html>

<html>
    <head>
        <title>Blogz</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <nav>
            <ul>
              <h2>
                <li><a href="/signup">Create a New Account</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/blog">View All Posts</a></li>
                <li><a href="/blog/newpost">Create New Post</a></li>
                <li><a href="/logout">Log Out</a></li>
              </h2>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
